.charsheet .sheet-grid-section {
    display: grid;
    grid-template-columns: 525px 250px;
    grid-template-rows: 50px 540px;
    grid-template-areas: "namelvl namelvl"
        "skills  stat   "
        "skills  equip   "
        "class   equip  "
        "abilities abilities";
    grid-gap: 5px;
}
.charsheet div.sheet-block{
  display: block;
  padding: 10px;
  border: 3px solid black;
}
.charsheet div.sheet-namelvl {
    text-align: center;
    grid-area: namelvl;
}
.charsheet div.sheet-stat{
  text-align: center;
  grid-area: stat;
}
.charsheet div.sheet-skills{
  grid-area: skills;
}
.charsheet div.sheet-equip{
  grid-area: equip;
}
.charsheet div.sheet-class{
  grid-area: class;
}

.charsheet div.sheet-abilities {
    grid-area: abilities;
}

/*Configure the tab buttons*/
.charsheet .sheet-combat,
.charsheet .sheet-armor,
.charsheet .sheet-attacks,
.charsheet .sheet-skills,
.charsheet .sheet-omens,
.charsheet .sheet-conditions,
.charsheet .sheet-notes,
.charsheet .sheet-settings {
    display: none;
}

.charsheet .sheet-warningOn,
.charsheet .sheet-warningOff {
  display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="combat"] ~ div.sheet-combat,
.charsheet .sheet-tabstoggle[value="armor"] ~ div.sheet-armor,
.charsheet .sheet-tabstoggle[value="attacks"] ~ div.sheet-attacks,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="omens"] ~ div.sheet-omens,
.charsheet .sheet-tabstoggle[value="conditions"] ~ div.sheet-conditions,
.charsheet .sheet-tabstoggle[value="notes"] ~ div.sheet-notes,
.charsheet .sheet-tabstoggle[value="settings"] ~ div.sheet-settings {
    display: block;
}

.charsheet .sheet-warningtoggle[value="warningOn"] ~ div.sheet-warningOn,
.charsheet .sheet-warningtoggle[value="warningOff"] ~ div.sheet-warningOff {
    display: block;
}

/* Button Selection */
.charsheet .sheet-dots{
  display:flex;
}

/* Configure the button styling. This example makes it look like a radio. */
.charsheet button.sheet-dot {
  padding: 0;
  border: solid 1px #a8a8a8;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charsheet button.sheet-dot > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: buttontext;
}